@model zBooks.DataAccess.Repository.IRepository.IUnitOfWork

@{
    const string currencyFormat = "c2";
    var cartItems = Model.CartItem.FilterAll(u => u.CartId == User.Identity.Name);
    var cartCount = cartItems.Count();
    var total = 0.0;
}
<h2><i class="bi bi-cart4"></i> Shopping Cart</h2>
@if (cartCount == 0)
{
    <p>Your shopping cart is empty.</p>
}
else
{
    <table id="cart-table" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in cartItems)
        {
            var product = Model.Product.Get(u => u.Id == item.ProductId);
            var price = item.Quantity * product.Price;
            total += price;
            <tr>
                <td>@product.Title</td>
                <td>@item.Quantity</td>
                <td>@product.Price.ToString(currencyFormat)</td>
                <td>@price.ToString(currencyFormat)</td>
                <td><button type="button" onclick="deleteItem(@item.Id)" class="btn btn-danger delete-btn" data-item-id="@item.Id"><i class="bi bi-trash-fill"></i></button></td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3"><strong>Total:</strong></td>
            <td><strong>@total.ToString(currencyFormat)</strong></td>
        </tr>
        </tfoot>
    </table>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <button class="btn btn-primary" onclick="clearCart()">Clear Cart</button>
        </div>
        <div>
            <a class="btn btn-secondary" asp-controller="ShoppingCart" asp-action="Checkout">Checkout <i class="bi bi-arrow-right-square-fill"></i></a>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/cart.js"></script>
}